<template>
    <div>
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="fullPage"
        >
        </loading>
      dashboard
    </div>
</template>

<script>
    import store from '../../vuex/store.js';
    import Loading from 'vue-loading-overlay';

    export default {
        components: {
            Loading
        },
        data() {
            return {
                isLoading: false,
                fullPage: true,
                pageName: 'Dashboard',
                userLogged: store.getters.user,
            }
        },
        methods: {
        }
    }
</script>

<style scoped>

</style>