<template>
    <div>
        <mdb-modal v-if="modalOpen" @close="closeModal">
            <mdb-modal-header>
                <mdb-modal-title>Address Search Result</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
                <mdb-row v-for="(values, index) in data" :key="index" class="p-3">
                    <input id="address" type="radio" name="address" v-model="address" :value="values"
                           class=""/>
                    <label class="pl-1" for="address">{{values.line_1 + ', ' + values.line_2}}</label>
                </mdb-row>

                <mdb-row class="justify-content-md-center">
                    <mdb-btn color="primary" @click="selectAddress(address)">Select</mdb-btn>
                </mdb-row>
            </mdb-modal-body>
        </mdb-modal>
    </div>
</template>

<script>
    import {
        mdbRow,
        mdbCol,
        mdbCard,
        mdbCardBody,
        mdbInput,
        mdbBtn,
        mdbIcon,
        mdbModal,
        mdbModalBody,
        mdbModalFooter,
        mdbContainer,
        mdbFormInline,
        mdbPopover,
        mdbModalHeader,
        mdbModalTitle,
    } from 'mdbvue';

    export default {
        name: "AddressComponent",
        props: ['data', 'modal'],
        components: {
            mdbRow,
            mdbCol,
            mdbCard,
            mdbCardBody,
            mdbInput,
            mdbBtn,
            mdbIcon,
            mdbModal,
            mdbModalBody,
            mdbModalFooter,
            mdbContainer,
            mdbFormInline,
            mdbPopover,
            mdbModalHeader,
            mdbModalTitle,
        },
        data() {
            return {
                modalOpen: this.modal,
                address: {}
            }
        },
        mounted() {
            this.modalOpen = this.modal
        },
        methods: {
            closeModal() {
                this.modalOpen = false;
                this.$emit('close');

            },
            selectAddress(address) {
                this.$emit('selectedAddress', address);
                this.modalOpen = false;
            }
        }
    }
</script>

<style scoped>


</style>