<template>
    <button :type="type" v-on.prevent="{click: onClick ? onClick : function(){}}"
            class="btn btn-lg text-white btnPrimary">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        name: "BaseButtonPrimary",
        props: {
            'type': {
                required: true,
                default: 'button'
            },
            'onClick': {
                type: Function,
            }
        }
    }
</script>

<style scoped>
    .btnPrimary {
        border-radius: 20px;
        padding: 5px 30px;
        background-color: #f96b02;
        text-transform: capitalize;
        height: 40px;
    }
</style>