<template>
    <div id="bar">
        <div ref="meter" class="meter"></div>
    </div>
</template>

<script>
    export default {
        name: "PasswordMeterComponent",
        props: ['password'],
        watch: {
            password: function (value) {

                if (value === '' || value === undefined) {
                    this.$refs['meter'].style.width = '0%';
                    this.$refs['meter'].style.backgroundColor = '#FFF';
                    return false
                }

                let regex = /[@$!%*#?&]/g;

                if (value.length < 8) {
                    this.$refs['meter'].style.width = '33.33%';
                    this.$refs['meter'].style.backgroundColor = '#FF0000';
                    return false;
                }
                if (value.length >= 8 && !regex.test(value)) {
                    this.$refs['meter'].style.width = '66.66%';
                    this.$refs['meter'].style.backgroundColor = '#ffcf10';
                    return false;
                }

                if (value.length >= 8 && regex.test(value)) {
                    this.$refs['meter'].style.width = '100%';
                    this.$refs['meter'].style.backgroundColor = '#0c7c26';
                    return true;
                }
            }
        }
    }
</script>

<style scoped>
    #bar {
        width: 100%;
        display: block;
        height: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .meter {
        background-color: #FFF;
        width: 66.33%;
        height: 100%;
        position: relative;
    }
</style>