<template>
    <div class=" h-100" id="page">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="fullPage"
        >
        </loading>
        <div class="row h-100 p-2">
            <div class="col-md-7">
                <div class="div-my-pagabo bordered h-100 text-center">
                    <img height="40px" title="" class=" mt-100" alt="" src="/images/logo_text.png"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 bordered h-100 div-sign">
                    <div class="row h-100 align-items-center">
                        <div class="col-md-10 m-auto">
                            <h3 class="p-4">Forgot Password</h3>
                            <form @submit.prevent="forgotPost" class="needs-validation" novalidate>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <mdb-input label="Email" id="email" type="email" name="email"
                                                   v-model="requestData.email" required autofocus>
                                            <div class="invalid-feedback">
                                                {{errors['email']}}
                                            </div>
                                        </mdb-input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <BtnPrimary type="submit">
                                            Enviar
                                        </BtnPrimary>
                                        <BtnSecondary type="button" :onClick="login">
                                            Cancelar
                                        </BtnSecondary>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbInput,
        mdbTextarea,
        mdbBtn,
        mdbIcon,
        mdbCard,
        mdbCardBody,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbModalFooter
    } from 'mdbvue';
    import Loading from 'vue-loading-overlay';
    import BtnPrimary from '../components/BaseButtonPrimary';
    import BtnSecondary from '../components/BaseButtonSecondary';

    export default {
        components: {
            Loading,
            mdbContainer,
            mdbRow,
            mdbCol,
            mdbInput,
            mdbTextarea,
            mdbBtn,
            mdbIcon,
            mdbCard,
            mdbCardBody,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbModalFooter,
            BtnPrimary,
            BtnSecondary
        },
        data() {
            return {
                isLoading: false,
                fullPage: true,
                requestData: {
                    email: '',
                },
                dismissSecs: 5,
                dismissCountDown: 0,
                showDismissibleAlert: false,
                variant: 'warning',

                errors: [],
            }
        },
        methods: {
            forgotPost(event) {
                let vm = this;
                vm.isLoading = true;
                event.preventDefault();
                event.target.classList.add('was-validated');
                axios.post('api/v1/auth/password/forgot', vm.requestData)
                    .then(function (response) {
                        vm.$notify.success(response.data.message);
                        setTimeout(function () {
                            vm.$router.push('/login')
                        }, 1000)
                        vm.isLoading = false;
                    })
                    .catch(function (error) {
                        vm.isLoading = false;
                        vm.errors = [];
                        const array = {};
                        if (error.response.status === 404) {
                            vm.requestData.email = '';
                            array['email'] = error.response.data.message;
                            vm.errors = array;
                            return false;
                        }

                        var errors = error.response.data.errors;

                        errors.forEach(function (data) {
                            var key = data.field;
                            array[key] = data.message;
                        });
                        vm.errors = array;
                    });
            },
            login() {
                this.$router.push('/login')
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
    #page {
        background-color: #EEEEEE;
    }

    li {
        list-style-type: none;
    }

    .div-my-pagabo {
        background: transparent url("/images/background.png") no-repeat right 10px center fixed;
        background-size: cover;
        color: #FFF;
    }

    .div-sign {
        background-color: #FFF;
    }

    .div-sign h3 {
        text-align: center;
        color: #083645;
        font-weight: bold;
    }

    .bordered {
        border-radius: 15px;
    }

    .mt-100 {
        margin-top: 15%;
    }
</style>