<template>
    <div class=" h-100 p-2" id="page">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="fullPage"
        >
        </loading>
        <div class="row h-100">
            <div class="col-md-7">
                <div class="div-my-pagabo bordered h-100 text-center">
                    <img height="40px" title="" class=" mt-100" alt="" src="/images/logo_text.png"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class=" bordered h-100 div-sign">
                    <div class="row h-100 align-items-center">
                        <div class="col-md-10 m-auto">
                            <h3 class="p-4">Acessar Mobiprice</h3>
                            <form @submit.prevent="loginPost" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <mdb-input label="Email" id="email" type="email" name="email"
                                                   v-model="loginDetails.email" required autofocus>
                                            <div class="invalid-feedback">
                                                {{errors['email']}}
                                            </div>
                                        </mdb-input>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <mdb-input label="Senha" id="password" type="password" name="email"
                                                   v-model="loginDetails.password" required autofocus>
                                            <div class="invalid-feedback">
                                                {{errors['password']}}
                                            </div>
                                        </mdb-input>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <BtnPrimary type="submit">
                                            Entrar
                                        </BtnPrimary>
                                        <router-link tag="li" to="/register">
                                            <a class="btn btn-link f-12" href="/register">Não tem uma conta? <b
                                                        class="" style="color: #F96A02;;">Registar</b></a>
                                        </router-link>

                                        <router-link tag="li" to="/forgot-password">
                                            <a class="btn btn-link f-12"
                                               href="/forgot-password">Esqueceu a senha?</a>
                                        </router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbInput,
        mdbTextarea,
        mdbBtn,
        mdbIcon,
        mdbCard,
        mdbCardBody,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbModalFooter
    } from 'mdbvue';
    import Loading from 'vue-loading-overlay';
    import BtnPrimary from '../components/BaseButtonPrimary';

    export default {
        components: {
            Loading,
            mdbContainer,
            mdbRow,
            mdbCol,
            mdbInput,
            mdbTextarea,
            mdbBtn,
            mdbIcon,
            mdbCard,
            mdbCardBody,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbModalFooter,
            BtnPrimary
        },
        data() {
            return {
                isLoading: false,
                fullPage: true,
                loginDetails: {
                    email: '',
                    password: '',
                    remember: true
                },

                dismissSecs: 5,
                dismissCountDown: 0,
                showDismissibleAlert: false,

                errors: [],
            }
        },
        methods: {
            loginPost(event) {
                let vm = this;
                event.preventDefault();
                event.target.classList.add('was-validated');
                vm.isLoading = true;
                this.$store.dispatch("login", this.loginDetails)
                    .then(() => {
                        vm.isLoading = false;
                    })
                    .catch(function (error) {
                        vm.isLoading = false;
                        vm.errors = [];
                        const array = {};

                        if (error.status === 404) {
                            // vm.loginDetails.email = '';
                            // array['email'] = error.data.message;
                            // vm.errors = array;
                            vm.$notify.error(error.data.message);
                            return false;
                        }
                        if (error.status === 422 && error.data.message) {
                            // vm.loginDetails.email = '';
                            // array['email'] = error.data.message;
                            // vm.errors = array;
                            vm.$notify.error(error.data.message);
                            return false;
                        }
                        var errors = error.data.errors;

                        errors.forEach(function (data) {
                            var key = data.field;
                            array[key] = data.message;
                        });
                        vm.errors = array;
                    });
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
    #page {
        background-color: #EEEEEE;
    }

    li {
        list-style-type: none;
    }

    .div-my-pagabo {
        background: transparent url("/images/background.png") no-repeat right 10px center fixed;
        background-size: cover;
        color: #FFF;
    }

    .div-sign {
        background-color: #FFF;
        padding: 15px 0 0 0;
    }

    .div-sign h3 {
        text-align: center;
        color: #083645;
        font-weight: bold;
    }

    .bordered {
        border-radius: 15px;
    }

    .f-12 {
        text-transform: initial;
        font-size: 12px;
    }

    .mt-100 {
        margin-top: 15%;
    }
</style>