<template>
    <div class=" h-100" id="page">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="fullPage"
        >
        </loading>
        <div class="row h-100 p-2">
            <div class="col-md-7">
                <div class="div-my-pagabo bordered h-100 text-center">
                    <img height="40px" title="" class=" mt-100" alt="" src="/images/logo_text.png"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 bordered h-100 div-sign">
                    <div class="row h-100 align-items-center">
                        <div class="col-md-10 m-auto">
                            <div class="alert alert-primary">Status: {{requestData.status}}</div>
                            <BtnPrimary type="button" :onClick="login">
                                Sign in
                            </BtnPrimary>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BtnPrimary from '../components/BaseButtonPrimary';
    import BtnSecondary from '../components/BaseButtonSecondary';

    export default {
        components: {
            BtnPrimary,
            BtnSecondary
        },
        data() {
            return {
                requestData: {
                    token: this.$route.params.token,
                    status: 'Pending...'
                }
            }
        },
        methods: {
            resetPost() {
                let vm = this;
                console.log('sda', vm.requestData);
                axios.get('/api/v1/auth/signup/activate/' + vm.requestData.token)
                    .then(function (response) {
                        vm.requestData.status = response.data.message;
                    })
                    .catch(function (error) {
                        vm.requestData.status = error.response.data.message;
                    });
            },
            login() {
                this.$router.push('/login')
            }
        },
        mounted() {
            this.resetPost();
        }
    }
</script>

<style scoped>
    #page {
        background-color: #EEEEEE;
    }

    li {
        list-style-type: none;
    }

    .div-my-pagabo {
        background: transparent url("/images/background.png") no-repeat right 10px center fixed;
        background-size: cover;
        color: #FFF;
    }

    .div-sign {
        background-color: #FFF;
    }

    .div-sign h3 {
        text-align: center;
        color: #083645;
        font-weight: bold;
    }

    .bordered {
        border-radius: 15px;
    }

    .mt-100 {
        margin-top: 15%;
    }
</style>