<template>
    <div class=" h-100" id="page">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="fullPage"
        >
        </loading>
        <div class="row h-100 p-2">
            <div class="col-md-7 h-100">
                <div class="col-md-12 bordered h-100 div-my-pagabo">
                    <div class="row h-100 align-items-center text-center">
                        <b-media vertical-align="center" class="m-auto align-items-center">
                            <img height="40px" title="" class="float-left" alt="" src="images/icon.png"/>
                            <h2 class="float-left" style="margin:5px 0 0 5px"> My Pagabo</h2>
                        </b-media>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 bordered h-100 div-sign">
                    <div class="row h-100 align-items-center">
                        <div class="col-md-10 m-auto">
                            <h3 class="p-4">Successful Password Reset</h3>
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="button" @click="$router.push('/login')"
                                            class="btn btn-warning">
                                        Sign in
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbInput,
        mdbTextarea,
        mdbBtn,
        mdbIcon,
        mdbCard,
        mdbCardBody,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbModalFooter
    } from 'mdbvue';
    import Loading from 'vue-loading-overlay';

    export default {
        components: {
            Loading,
            mdbContainer,
            mdbRow,
            mdbCol,
            mdbInput,
            mdbTextarea,
            mdbBtn,
            mdbIcon,
            mdbCard,
            mdbCardBody,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbModalFooter
        },
        data() {
            return {
                isLoading: false,
                fullPage: true,
                requestData: {
                    email: '',
                },
                dismissSecs: 5,
                dismissCountDown: 0,
                showDismissibleAlert: false,
                variant: 'warning',

                errors: [],
            }
        },
        methods: {
            forgotPost() {
                let vm = this;
                vm.isLoading = true;
                axios.post('api/v1/auth/password/forgot', vm.requestData)
                    .then(function (response) {
                        vm.errors = [];
                        vm.dismissCountDown = vm.dismissSecs;
                        vm.variant = 'success';
                        vm.errors = [response.data.message];
                        vm.isLoading = false;
                    })
                    .catch(function (error) {
                        var errors = error.response;
                        vm.variant = 'warning';
                        vm.isLoading = false;
                        if (errors.statusText === 'Unprocessable Entity') {
                            if (errors.data) {
                                vm.errors = [];
                                vm.dismissCountDown = vm.dismissSecs;

                                if (_.isArray(errors.data.errors)) {
                                    errors.data.errors.forEach(function (val) {
                                        vm.errors.push(val.message);
                                    });
                                } else {
                                    vm.errors = [errors.data.message];
                                }
                            }
                        } else {
                            vm.errors = [];
                            vm.dismissCountDown = vm.dismissSecs;
                            vm.errors = [errors.data.message];
                        }
                    });
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
    #page {
        background-color: #EEEEEE;
    }

    li {
        list-style-type: none;
    }

    .div-my-pagabo {
        background-color: #00A6D8;
        color: #FFF;
    }

    .div-sign {
        background-color: #FFF;
    }

    .div-sign h3 {
        text-align: center;
        color: #083645;
        font-weight: bold;
    }

    .bordered {
        border-radius: 15px;
    }
</style>